body{
    align-items: center;
    background-image: linear-gradient(90deg, violet, rgb(61, 12, 63));
    border-radius: 9px;
    position: relative;
    

   


   
}

/*CSS FOR THE TEXT ON BACKGROUND*/
.cover {
    align-items: right;

    position: absolute;
    z-index: -1;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    color: #c6afaf;
    font-size: 300px;
    text-align: left;
    opacity: 25%;
    margin-right: 0px;
    margin-bottom: 0px;
    

}

.general {
    padding: 10px;
}


/*CSS FOR THE NAVBAR DIV*/
.navbar{
    width: 100%;
    height: 40px;


}

/* CSS FOR THE "enjoy" TEXT AT TOP */
.navbar h2{
    color: rgb(52, 49, 59);
    font-family: "Dancing Script";
    margin-bottom: px;
    opacity: 100%;
    
}


/* CSS FOR THE CONTAINER ONTOP OF THE BACKGROUND */
.upper{
    box-shadow:10px 10px 10px #000;
    -webkit-box-shadow:10px 10px 10px #000;
    -moz-box-shadow: 10px 10px 10px #000

    width: 100%;
    height: 500px;
    background-image: linear-gradient(90deg, violet, rgb(61, 12, 63));
    text-align: center;
    position: relative;
    
  
}

.upper:hover {
    border-radius: 50px;
}

 

.upper h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 7vw;
    font-style: bold;
    text-align: left;
    padding-left: 50px ;
    padding-top: 50px;
    margin-bottom: 5px;
    text-shadow: 5px 10px 5px antiquewhite;
  

}

.upper p{
    font-family: "Roboto", sans-serif;
    font-size: 2vm;
    text-align: left;
    padding-left: 50px ;
    font-weight: 500px;
    font-style: normal;
    letter-spacing: 6PX;
 
  
}

/* ANIMATION FUNCTIONS */



/*ANCHOR TAG CSS*/
a {

    color:antiquewhite;
    font-family: "Roboto", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    border: none;
    background-color: #000;
    color: antiquewhite;
    box-shadow: 1px 1px 1px 1px  antiquewhite;
    margin-top: 150px;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;

}

a:hover {
    background-color: violet;
    cursor: pointer;
 
}
