body{
    align-items: center;
    background-image: linear-gradient(90deg, violet, rgb(61, 12, 63));
    border-radius: 9px;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-direction: reverse;
    display: flex;
    grid: 20%;


   
}

.cover {
    align-items: right;

    position: absolute;
    z-index: -1;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    color: #c6afaf;
    font-size: 300px;
    text-align: left;
    opacity: 25%;
    margin-right: 0px;
    margin-bottom: 0px;
    

}

.general {
    padding: 10px;

    align-items: center;
    margin-left: 150px;
}
.navbar{
    width: 100%;
    height: 40px;


}

.navbar h2{
    color: rgb(52, 49, 59);
    font-family: "Dancing Script";
    margin-bottom: px;
    opacity: 100%;
    
}

.upper{
    align-items: left;
    box-shadow:10px 10px 10px #000;
    -webkit-box-shadow:10px 10px 10px #000;
    -moz-box-shadow: 10px 10px 10px #b683a2

    width: fit-content;
    height: 500px;
    background-image: linear-gradient(90deg, violet, rgb(61, 12, 63));
    text-align: center;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    padding-right: 50px;
  
}

.upper:hover {
    background-image: linear-gradient(to right, violet, antiquewhite)
}

 

.upper h1{
    font-family: "roboto", 'Times New Roman';
    font-weight: 400;
    font-size: 3vw;
    text-align: left;



    padding-left: 50px ;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 5px;
    color: rgb(41, 0, 39);
    border-bottom: 2px black dashed;
    border-radius: 30px;

}

.upper p{
    font-family: "Roboto";
    font-size: 2vm;
    text-align: left;
    padding-left: 50px ;
    font-weight: 500px;
    font-style: normal;
    letter-spacing: 6PX;
 
  
}

/* Animation functions */

@keyframes example {
    0%   {background-image :linear-gradient(90deg #fae2d7,rgb(122, 95, 122)); left:0px; top:0px;}
    25%  {background-image :linear-gradient(43deg #000080, #000512); left:1000px; top:0px;}
    50%  {background-color: antiquewhite; opacity:50%; left:0px; buttom:10px;}
    75% { background-image: linear-gradient(180deg black , rgb(192, 97, 97)); left: 100px; bottom: 50px;}
    100% { background-color: antiquewhite; opacity: 75%; left: 10px; top: 0px;}


    
}



#start {
    color:antiquewhite;
    font-family: "Roboto", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    border: none;
    background-color: #000;
    color: antiquewhite;
    box-shadow: 1px 1px 1px 1px  antiquewhite;
    margin-top: 150px;
    text-decoration: none;
    width: 30px;
}

#start:hover {
    background-color: violet;
    cursor: pointer;
 
}

.opts {
    margin-top: 30px;
    
 
}


option {
    text-decoration: none;
    background-color: violet;
    border-radius: 5px;
    margin-right: 10vm;

}
button {
    margin-top: 120px;
    text-decoration: none;
    border-radius: 10px;
    width: 150px;
    font-size: 18px
    
    

}

button:hover {
    background-color: violet;
    cursor:grab;
}

select {

    border-radius: 10px;
    background-color: #000;
    color: antiquewhite;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;        
    padding: 10px;          
    width: 90%;           
    height: fit-content;         
}

/* Increase the size of the options in the dropdown */
select option {
    font-size: 16px;        /* Increase font size of the options */
    padding: 10px;          /* Add padding inside the options */
}