body {
    background-image: url(landOptions/art/art.jpeg);
    background-size: cover;
    background-blend-mode: overlay;
    
    animation-name: example;
    animation-duration: 2s;
    color: #1976D2;
    display: flex;
}
  .app {

    background:  #FFD1CC;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 50px 10px 50px 10px black;

    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* Optional shadow */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
    color: #fff; /* Text color */
    text-align: center;
  }
  .app h1 {
    letter-spacing: 5px;
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: 10;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    color: #1976D2;
  }
  .quiz {
    padding: 50px;
    margin: 10px;
    display: block;
    text-align: center;
  }
  #question {
    text-align: left;
    padding: 0;
    margin-left: 0;
    color: #1976D2;
  }
  .quiz h2 {
    font-family: Arial, sans-serif;
    font-weight: 5;
    font-size: 22px;
    color: #1976D2;

   
  }
  .btn {
    background: #E3F2FD;
    font-size:16px;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;

  }
  .btn:hover {
    background: blue;
    color: #fff;
  }
  #next-btn {
    background: blue;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto o;
    border-radius: 4px;
    cursor: pointer;
    display: none;
  }
  .correct {
    background: rgb(13, 255, 13);
  }
  .incorrect {
    background: rgb(145, 16, 16);
  }

  @keyframes example {
    0%   {background-image :linear-gradient(90deg #fae2d7,rgb(122, 95, 122)); left:0px; top:0px;}
    25%  {background-image :linear-gradient(43deg #000080, #000512); left:1000px; top:0px;}
    50%  {background-color: antiquewhite; opacity:50%; left:0px; buttom:10px;}
    75% { background-image: linear-gradient(180deg black , rgb(192, 97, 97)); left: 100px; bottom: 50px;}
    100% { background-color: purple;  opacity: 75%; left: 10px; top: 0px;}


    
}



